<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        {% for article in articles %}
            <li>
                Article: {{ article.id }} -
                Title: {{ article.title }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('new_article') }}" target="_self" rel="noopener noreferrer">
        <button type="button">New Article</button>
    </a>
    


    <h4><a href="{{ url_for('guest_page') }}">Home Page</a></h4>
</body>