<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>My Personal Blog</h1>
    <p>
        {% for article in articles %}
            <li>
                Article: {{ article.id }} -
                <a href="{{ url_for('article', id=article.id) }}">Title: {{ article.title }}</a>
                Date: {{ article.date }}
                {% if article.date_edited %}
                    {% if article.date_edited != article.date %}
                        Date Edited: {{ article.date_edited }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </p>

    <h4><a href="{{ url_for('admin_page') }}">Admin Dashboard</a></h4>
</body>